Create a an LLM pipeline that will transform any free text query into a SQL query, the key points of this task are:

* Create a valid representation of SQL tables allowing for semantic search that will match the top results to the given free text query

* Based on the table representation the LLM has to create a real SQL query, based on free text user query, that will allow for immediate usage

* LLM has to support creation of queries with different levels of complexity not only the simplest ones

* LLM has to support creating queries to fetch data from different database schemas

* When an error in LLM created sql query is encountered it should attempt to self correct

In [1]:
from langchain.llms import LlamaCpp
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain
import re
import pandas as pd
import torch
import numpy as np

In [2]:
llm = LlamaCpp(model_path="sqlcoder2-GGUF\sqlcoder2.Q8_0.gguf",
               n_batch=512,
               n_ctx=2048,
               n_gpu_layers=30,
               verbose=True)

llama_model_loader: loaded meta data with 19 key-value pairs and 485 tensors from sqlcoder2-GGUF\sqlcoder2.Q8_0.gguf (version GGUF V2)
llama_model_loader: Dumping metadata keys/values. Note: KV overrides do not apply in this output.
llama_model_loader: - kv   0:                       general.architecture str              = starcoder
llama_model_loader: - kv   1:                               general.name str              = StarCoder
llama_model_loader: - kv   2:                   starcoder.context_length u32              = 8192
llama_model_loader: - kv   3:                 starcoder.embedding_length u32              = 6144
llama_model_loader: - kv   4:              starcoder.feed_forward_length u32              = 24576
llama_model_loader: - kv   5:                      starcoder.block_count u32              = 40
llama_model_loader: - kv   6:             starcoder.attention.head_count u32              = 48
llama_model_loader: - kv   7:          starcoder.attention.head_count_kv u32              = 1
llama_model_loader: - kv   8:     starcoder.attention.layer_norm_epsilon f32              = 0.000010
llama_model_loader: - kv   9:                          general.file_type u32              = 7
llama_model_loader: - kv  10:                       tokenizer.ggml.model str              = gpt2
llama_model_loader: - kv  11:                      tokenizer.ggml.tokens arr[str,49152]   = ["<|endoftext|>", "<fim_prefix>", "<f...
llama_model_loader: - kv  12:                      tokenizer.ggml.scores arr[f32,49152]   = [0.000000, 0.000000, 0.000000, 0.0000...
llama_model_loader: - kv  13:                  tokenizer.ggml.token_type arr[i32,49152]   = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
llama_model_loader: - kv  14:                      tokenizer.ggml.merges arr[str,48891]   = ["Ġ Ġ", "ĠĠ ĠĠ", "ĠĠĠĠ ĠĠ...
llama_model_loader: - kv  15:                tokenizer.ggml.bos_token_id u32              = 0
llama_model_loader: - kv  16:                tokenizer.ggml.eos_token_id u32              = 0
llama_model_loader: - kv  17:            tokenizer.ggml.unknown_token_id u32              = 0
llama_model_loader: - kv  18:               general.quantization_version u32              = 2
llama_model_loader: - type  f32:  322 tensors
llama_model_loader: - type q8_0:  163 tensors
llm_load_vocab: missing pre-tokenizer type, using: 'default'
llm_load_vocab:
llm_load_vocab: ************************************
llm_load_vocab: GENERATION QUALITY WILL BE DEGRADED!
llm_load_vocab: CONSIDER REGENERATING THE MODEL
llm_load_vocab: ************************************
llm_load_vocab:
llm_load_vocab: mismatch in special tokens definition ( 19/49152 vs 0/49152 ).
llm_load_print_meta: format           = GGUF V2
llm_load_print_meta: arch             = starcoder
llm_load_print_meta: vocab type       = BPE
llm_load_print_meta: n_vocab          = 49152
llm_load_print_meta: n_merges         = 48891
llm_load_print_meta: n_ctx_train      = 8192
llm_load_print_meta: n_embd           = 6144
llm_load_print_meta: n_head           = 48
llm_load_print_meta: n_head_kv        = 1
llm_load_print_meta: n_layer          = 40
llm_load_print_meta: n_rot            = 128
llm_load_print_meta: n_embd_head_k    = 128
llm_load_print_meta: n_embd_head_v    = 128
llm_load_print_meta: n_gqa            = 48
llm_load_print_meta: n_embd_k_gqa     = 128
llm_load_print_meta: n_embd_v_gqa     = 128
llm_load_print_meta: f_norm_eps       = 1.0e-05
llm_load_print_meta: f_norm_rms_eps   = 0.0e+00
llm_load_print_meta: f_clamp_kqv      = 0.0e+00
llm_load_print_meta: f_max_alibi_bias = 0.0e+00
llm_load_print_meta: f_logit_scale    = 0.0e+00
llm_load_print_meta: n_ff             = 24576
llm_load_print_meta: n_expert         = 0
llm_load_print_meta: n_expert_used    = 0
llm_load_print_meta: causal attn      = 1
llm_load_print_meta: pooling type     = 0
llm_load_print_meta: rope type        = 0
llm_load_print_meta: rope scaling     = linear
llm_load_print_meta: freq_base_train  = 10000.0
llm_load_print_meta: freq_scale_train = 1
llm_load_print_meta: n_yarn_orig_ctx  = 8192
llm_load_print_meta: rope_finetuned   = unknown
llm_load_print_meta: ssm_d_conv       = 0
llm_load_print_meta: ssm_d_inner      = 0
llm_load_print_meta: ssm_d_state      = 0
llm_load_print_meta: ssm_dt_rank      = 0
llm_load_print_meta: model type       = 15B
llm_load_print_meta: model ftype      = Q8_0
llm_load_print_meta: model params     = 15.82 B
llm_load_print_meta: model size       = 15.66 GiB (8.50 BPW)
llm_load_print_meta: general.name     = StarCoder
llm_load_print_meta: BOS token        = 0 '<|endoftext|>'
llm_load_print_meta: EOS token        = 0 '<|endoftext|>'
llm_load_print_meta: UNK token        = 0 '<|endoftext|>'
llm_load_print_meta: LF token         = 145 'Ä'
llm_load_print_meta: EOT token        = 0 '<|endoftext|>'
ggml_cuda_init: GGML_CUDA_FORCE_MMQ:   no
ggml_cuda_init: CUDA_USE_TENSOR_CORES: yes
ggml_cuda_init: found 1 CUDA devices:
  Device 0: NVIDIA GeForce RTX 3060, compute capability 8.6, VMM: yes
llm_load_tensors: ggml ctx size =    0.46 MiB
llm_load_tensors: offloading 30 repeating layers to GPU
llm_load_tensors: offloaded 30/41 layers to GPU
llm_load_tensors:        CPU buffer size = 16037.15 MiB
llm_load_tensors:      CUDA0 buffer size = 11530.58 MiB
...................................................................................................
llama_new_context_with_model: n_ctx      = 2048
llama_new_context_with_model: n_batch    = 512
llama_new_context_with_model: n_ubatch   = 512
llama_new_context_with_model: flash_attn = 0
llama_new_context_with_model: freq_base  = 10000.0
llama_new_context_with_model: freq_scale = 1
llama_kv_cache_init:  CUDA_Host KV buffer size =    10.00 MiB
llama_kv_cache_init:      CUDA0 KV buffer size =    30.00 MiB
llama_new_context_with_model: KV self size  =   40.00 MiB, K (f16):   20.00 MiB, V (f16):   20.00 MiB
llama_new_context_with_model:  CUDA_Host  output buffer size =     0.19 MiB
llama_new_context_with_model:      CUDA0 compute buffer size =   426.00 MiB
llama_new_context_with_model:  CUDA_Host compute buffer size =    28.01 MiB
llama_new_context_with_model: graph nodes  = 1489
llama_new_context_with_model: graph splits = 145
AVX = 1 | AVX_VNNI = 0 | AVX2 = 1 | AVX512 = 0 | AVX512_VBMI = 0 | AVX512_VNNI = 0 | AVX512_BF16 = 0 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 1 | SSE3 = 1 | SSSE3 = 1 | VSX = 0 | MATMUL_INT8 = 0 | LLAMAFILE = 1 |
Model metadata: {'general.name': 'StarCoder', 'general.architecture': 'starcoder', 'starcoder.context_length': '8192', 'starcoder.attention.head_count_kv': '1', 'starcoder.embedding_length': '6144', 'starcoder.feed_forward_length': '24576', 'starcoder.block_count': '40', 'starcoder.attention.head_count': '48', 'starcoder.attention.layer_norm_epsilon': '0.000010', 'tokenizer.ggml.eos_token_id': '0', 'general.file_type': '7', 'tokenizer.ggml.model': 'gpt2', 'general.quantization_version': '2', 'tokenizer.ggml.bos_token_id': '0', 'tokenizer.ggml.unknown_token_id': '0'}
Using fallback chat format: llama-2

In [9]:
ddl_statements = """
-- Create schemas
CREATE SCHEMA public;
CREATE SCHEMA sales;
CREATE SCHEMA analytics;

-- Create tables in the public schema
CREATE TABLE public.employees (
    employee_id INTEGER PRIMARY KEY,
    first_name VARCHAR,
    last_name VARCHAR,
    age INTEGER,
    department_id INTEGER,
    hire_date DATE,
    FOREIGN KEY (department_id) REFERENCES public.departments(department_id)
);

CREATE TABLE public.departments (
    department_id INTEGER PRIMARY KEY,
    department_name VARCHAR,
    manager_id INTEGER,
    FOREIGN KEY (manager_id) REFERENCES public.employees(employee_id)
);

CREATE TABLE public.salaries (
    employee_id INTEGER PRIMARY KEY,
    salary_amount DECIMAL,
    effective_date DATE,
    FOREIGN KEY (employee_id) REFERENCES public.employees(employee_id)
);

-- Create tables in the sales schema
CREATE TABLE sales.orders (
    order_id INTEGER PRIMARY KEY,
    order_date DATE,
    customer_id INTEGER,
    sales_rep_id INTEGER,
    FOREIGN KEY (customer_id) REFERENCES sales.customers(customer_id),
    FOREIGN KEY (sales_rep_id) REFERENCES sales.sales_reps(sales_rep_id)
);

CREATE TABLE sales.customers (
    customer_id INTEGER PRIMARY KEY,
    customer_name VARCHAR,
    contact_number VARCHAR
);

CREATE TABLE sales.sales_reps (
    sales_rep_id INTEGER PRIMARY KEY,
    first_name VARCHAR,
    last_name VARCHAR,
    region VARCHAR
);

CREATE TABLE sales.products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR,
    price DECIMAL
);

-- Create tables in the analytics schema
CREATE TABLE analytics.sales_reports (
    report_id INTEGER PRIMARY KEY,
    report_date DATE,
    total_sales DECIMAL,
    region VARCHAR
);

CREATE TABLE analytics.customer_metrics (
    metric_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    lifetime_value DECIMAL,
    average_order_value DECIMAL,
    FOREIGN KEY (customer_id) REFERENCES sales.customers(customer_id)
);

CREATE TABLE analytics.product_performance (
    performance_id INTEGER PRIMARY KEY,
    product_id INTEGER,
    sales_quantity INTEGER,
    revenue_generated DECIMAL,
    FOREIGN KEY (product_id) REFERENCES sales.products(product_id)
);
"""

In [10]:
template = """
<|begin_of_text|><|start_header_id|>user<|end_header_id|>

Generate a SQL query to answer this question: `{user_question}`
{instructions}

DDL statements:
{ddl_statements}<|eot_id|><|start_header_id|>assistant<|end_header_id|>

The following SQL query best answers the question `{user_question}`:
```sql
"""

In [28]:
verification_template = """
<|begin_of_text|><|start_header_id|>user<|end_header_id|>

Verify if this SQL query correctly answers the question: {user_question}.
SQL query: {sql_query}
If yes, return the same query. If not return corrected query.

DDL statements:
{ddl_statements}<|eot_id|><|start_header_id|>assistant<|end_header_id|>

The following SQL query best answers the question `{user_question}`:
```sql
"""

In [11]:
user_question = "Select the name and age of employees who joined after January 2020"
instructions = """
If the question does not match the existing tables, return 'The query does not match any existing tables. Please check the table names or columns and try again.'
When an error in your sql query is encountered, attempt to correct it.
"""

In [12]:
prompt = PromptTemplate(template=template, input_variables=["user_question", "instructions", "ddl_statements"])

In [29]:
verification_prompt = PromptTemplate(template=verification_template, input_variables=["user_question", "sql_query", "ddl_statements"])

In [19]:
def get_sql_query_from_llm(prompt, llm, user_question, instructions, ddl_statements):
    llm_chain = prompt | llm
    raw_llm_answer = llm_chain.invoke({"user_question": user_question, "instructions": instructions, "ddl_statements": ddl_statements})
    return raw_llm_answer

In [30]:
# Function to verify and correct SQL queries
def verify_and_correct_sql(sql_query, user_question, ddl_statements):
    llm_chain = verification_prompt | llm
    raw_llm_answer = llm_chain.invoke({"user_question": user_question, "sql_query": sql_query, "ddl_statements": ddl_statements})
    return raw_llm_answer

In [31]:
sql_query = get_sql_query_from_llm(prompt, llm, user_question, instructions, ddl_statements)
print(sql_query)

Llama.generate: prefix-match hit

llama_print_timings:        load time =   25295.80 ms
llama_print_timings:      sample time =      37.15 ms /   256 runs   (    0.15 ms per token,  6890.61 tokens per second)
llama_print_timings: prompt eval time =   39685.18 ms /   717 tokens (   55.35 ms per token,    18.07 tokens per second)
llama_print_timings:        eval time =   90874.47 ms /   255 runs   (  356.37 ms per token,     2.81 tokens per second)
llama_print_timings:       total time =  131057.76 ms /   972 tokens

SELECT e.first_name, e.last_name, e.age FROM analytics.customer_metrics cm JOIN sales.customers sc ON cm.customer_id = sc.customer_id JOIN sales.orders so ON cm.customer_id = so.customer_id JOIN sales.sales_reps sr ON so.sales_rep_id = sr.sales_rep_id JOIN sales.products sp ON so.product_id::integer = sp.product_id::integer JOIN analytics.product_performance pp ON sp.product_id::integer = pp.performance_id JOIN sales.departments sd ON cm.customer_id::integer::TEXT || sd.department_id::text::VARCHAR::text::integer::text::date::to_char::TEXT::timestamp::epoch::int::TEXT::timestamp::day::to_char::TEXT::timestamp::day::int::varchar::to_char::TEXT::timestamp::month::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to

In [32]:
corrected_sql_query = verify_and_correct_sql(sql_query, user_question, ddl_statements)
print(corrected_sql_query)

Llama.generate: prefix-match hit

llama_print_timings:        load time =   25295.80 ms
llama_print_timings:      sample time =      38.63 ms /   256 runs   (    0.15 ms per token,  6626.80 tokens per second)
llama_print_timings: prompt eval time =   53464.88 ms /   920 tokens (   58.11 ms per token,    17.21 tokens per second)
llama_print_timings:        eval time =  103549.55 ms /   255 runs   (  406.08 ms per token,     2.46 tokens per second)
llama_print_timings:       total time =  157357.06 ms /  1175 tokens

SELECT e.first_name, e.last_name, e.age FROM sales.customers sc JOIN sales.orders so ON sc.customer_id::integer::text::varchar::to_char::TEXT::timestamp::epoch::int::TEXT::timestamp::day::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::month::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::day::int::varchar::to_char::TEXT::timestamp::month::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int::varchar::to_char::TEXT::timestamp::year::int

In [ ]:
def generate_sql_query(natural_language_query):
    try:
        sql_query = llm.generate(natural_language_query)
        return sql_query
    except Exception as e:
        print(f"Error generating SQL query: {e}")
        return None

def sql_pipeline(natural_language_query):
    sql_query = generate_sql_query(natural_language_query)
    return sql_query

# Example usage
nl_query = "Select the name and age of employees who joined after January 2020"
sql_query = sql_pipeline(nl_query)
print("Generated SQL Query:", sql_query)